@charset "UTF-8";
@font-face {
  font-family: "allura";
  src: url(/assets/font/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins-med";
  src: url(/assets/font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "robot-lig";
  src: url(/assets/font/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(33, 32, 30);
  text-align: center;
}

li {
  list-style: none;
}

header {
  background: url(../../../assets/img/bg-slider-06.jpg) center/cover;
  padding: 0 50px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(238, 238, 238);
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
  height: 12vh;
}
header .nav-left span {
  font-family: allura, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(238, 238, 238);
  cursor: pointer;
}
header .nav-center {
  width: 65%;
  color: rgb(238, 238, 238);
  font-weight: 500;
}
header .nav-center ul {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.6rem;
  margin-right: 10px;
}
header .nav-center li {
  margin-right: 10px;
}
header .nav-center li:hover {
  cursor: pointer;
  animation: nav1 1s linear;
}
@keyframes nav1 {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
header .nav-right {
  width: 5%;
}
header .nav-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.6rem;
}
header .nav-right i {
  font-size: 0.6rem;
  cursor: pointer;
}

.title {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title .title-container {
  margin-bottom: 14rem;
}
.title .title-container h2 {
  font-family: allura, sans-serif;
  font-weight: 500;
  color: rgb(166, 114, 69);
  font-size: 2.2rem;
  margin-bottom: -18px;
}
.title .title-container h1 {
  text-transform: uppercase;
  font-family: poppins-med, serif;
  font-weight: 600;
  color: rgb(238, 238, 238);
  font-size: 2.4rem;
  letter-spacing: 10px;
}
.title .title-container img {
  width: 5%;
  margin: 40px 0 20px;
}
.title .title-container p {
  text-transform: uppercase;
  color: rgb(238, 238, 238);
  letter-spacing: 4px;
  font-size: 0.7rem;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(238, 238, 238);
}
.section1 .info-left {
  border: 1px dashed rgb(166, 114, 69);
  margin: 10px;
  padding: 30px 15px;
}
.section1 .info-left h2 {
  font-family: allura, sans-serif;
  color: rgb(166, 114, 69);
  margin-bottom: -10px;
  font-weight: 500;
}
.section1 .info-left h3 {
  text-transform: uppercase;
  font-family: poppins-med, serif;
}
.section1 .info-left .ustensible {
  margin: 20px 0;
}
.section1 .info-left .chef {
  border-radius: 50%;
  height: 70px;
  margin: 26px 26px 20px;
}
.section1 .info-left h4 {
  font-family: poppins-med, serif;
  font-weight: 500;
}
.section1 .info-left h5 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(182, 182, 182);
}
.section1 .info-right {
  background: url(../../../assets/img/store-01.jpg) center/cover;
}

.section2 {
  padding-bottom: 100px;
  position: relative;
  color: rgb(238, 238, 238);
}
.section2:after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  background: url(../../../assets/img/bg-menu-01.jpg) center/cover;
  left: 50%;
  bottom: -320px;
  transform: translate(-50%, -50%);
}
.section2 .nav-menu h2 {
  color: rgb(166, 114, 69);
  font-family: allura, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding: 60px 0 30px;
}
.section2 .nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
}
.section2 .nav-menu li {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 8px;
}
.section2 .nav-menu li:hover {
  cursor: pointer;
}
.section2 .menu-main {
  z-index: 1000;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(238, 238, 238);
  width: 85%;
  margin: 0 auto;
  max-width: 800px;
  border-top: 4px solid rgb(166, 114, 69);
  color: rgb(33, 32, 30);
  padding: 15px 0;
}
.section2 .menu-main .menu {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
  margin: 0 20px;
}
.section2 .menu-main .menu img {
  border-radius: 50%;
  align-items: center;
  width: 100%;
}
.section2 .menu-main .menu .menu-text {
  text-transform: uppercase;
  font-family: robot-lig, serif;
  font-size: 1rem;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0 10px;
}
.section2 .menu-main .menu .menu-text h3 {
  color: rgb(33, 32, 30);
  font-size: 0.9rem;
}
.section2 .menu-main .menu .prix {
  color: rgb(166, 114, 69);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.section3 {
  color: rgb(238, 238, 238);
  padding: 100px 15px 65px;
}
.section3 .reservation-container {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1050px;
  margin: 0 auto;
}
.section3 .reservation-container .reservation-left {
  padding: 24px;
  background: black;
}
.section3 .reservation-container .reservation-left .left-info {
  border: 1px dashed rgb(238, 238, 238);
  padding: 20px 0;
}
.section3 .reservation-container .reservation-left h3 {
  color: rgb(166, 114, 69);
  font-family: allura, sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
}
.section3 .reservation-container .reservation-left h4 {
  text-transform: uppercase;
  font-family: poppins-med, serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-top: -16px;
}
.section3 .reservation-container .reservation-left img {
  margin-top: 25px;
}
.section3 .reservation-container .reservation-left h5 {
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  font-size: 1.1rem;
  font-family: poppins-med, serif;
  font-weight: 100;
  margin: 25px 10px 15px;
}
.section3 .reservation-container .reservation-left p {
  font-size: 0.8rem;
}
.section3 .reservation-container .reservation-left h6 {
  color: rgb(166, 114, 69);
  font-size: 1.2rem;
  margin: 25px 10px 15px;
  font-weight: 500;
}
.section3 .reservation-container .reservation-right {
  background: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(33, 32, 30);
  padding: 30px;
}
.section3 .reservation-container .reservation-right h3 {
  font-family: allura, sans-serif;
  font-weight: 500;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  color: rgb(166, 114, 69);
  font-weight: 200;
}
.section3 .reservation-container .reservation-right h4 {
  text-transform: uppercase;
  font-family: poppins-med, serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: -16px;
}
.section3 .reservation-container .reservation-right img {
  margin: 25px;
  height: 25px;
}
.section3 .reservation-container .reservation-right form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.section3 .reservation-container .reservation-right form input,
.section3 .reservation-container .reservation-right form select {
  border: none;
  background: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  margin: 10px;
  padding: 10px 0;
}
.section3 .reservation-container .reservation-right button {
  text-transform: uppercase;
  font-family: poppins-med, serif;
  background: rgb(51, 51, 51);
  color: rgb(238, 238, 238);
  letter-spacing: 5px;
  border: none;
  border-radius: 50px;
  padding: 16px 34px;
  cursor: pointer;
}

.section4 {
  padding: 100px 15px 65px;
}
.section4 .event-container {
  max-width: 1050px;
  margin: 0 auto;
}
.section4 .event-container > img {
  margin: 26px;
}
.section4 h2 {
  font-family: allura, sans-serif;
  font-weight: 500;
  color: rgb(166, 114, 69);
  font-size: 2rem;
}
.section4 h3 {
  text-transform: uppercase;
  font-family: poppins-med, serif;
  font-size: 1.8rem;
  color: rgb(238, 238, 238);
  letter-spacing: 4px;
}
.section4 .event {
  display: grid;
  grid-template-columns: 58% 40%;
  grid-template-areas: "a b" "c b";
  gap: 20px;
}
.section4 .event img {
  width: 100%;
}
.section4 .event .event1 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-area: a;
}
.section4 .event .event1 .event1-left {
  background: url(../../../assets/img/event-01.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .event .event1 .event1-left .date-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(51, 51, 51);
  color: rgb(238, 238, 238);
  width: 80px;
  height: 82px;
}
.section4 .event .event1 .event1-left .date-event .number-date {
  font-size: 1.9rem;
}
.section4 .event .event1 .event1-left .date-event .month-date {
  font-size: 1.2rem;
  margin-top: -10px;
}
.section4 .event .event1 .event1-right {
  background-color: rgb(238, 238, 238);
  text-align: left;
  padding: 20px;
}
.section4 .event .event1 .event1-right h4 {
  font-family: robot-lig, serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 8px;
}
.section4 .event .event1 .event1-right .adresse {
  display: flex;
  align-items: center;
  color: rgb(182, 182, 182);
  font-size: 0.8rem;
  margin-top: 20px;
}
.section4 .event .event1 .event1-right .adresse i {
  margin: 10px 5px;
  font-size: 0.6rem;
}
.section4 .event .event1 .event1-right .adresse p {
  font-family: robot-lig, serif;
  letter-spacing: 2px;
  margin-right: 10px;
}
.section4 .event .event1 .event1-right button {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.section4 .event .event2 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-area: c;
}
.section4 .event .event2 .event2-left {
  background: url(../../../assets/img/event-02.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .event .event2 .event2-left .date-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(51, 51, 51);
  color: rgb(238, 238, 238);
  width: 80px;
  height: 82px;
}
.section4 .event .event2 .event2-left .date-event .number-date {
  font-size: 1.9rem;
}
.section4 .event .event2 .event2-left .date-event .month-date {
  font-size: 1.2rem;
  margin-top: -10px;
}
.section4 .event .event2 .event2-right {
  background-color: rgb(238, 238, 238);
  text-align: left;
  padding: 20px;
}
.section4 .event .event2 .event2-right h4 {
  font-family: robot-lig, serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 8px;
}
.section4 .event .event2 .event2-right .adresse {
  display: flex;
  align-items: center;
  color: rgb(182, 182, 182);
  font-size: 0.8rem;
  margin-top: 20px;
}
.section4 .event .event2 .event2-right .adresse i {
  margin: 10px 5px;
  font-size: 0.6rem;
}
.section4 .event .event2 .event2-right .adresse p {
  font-family: robot-lig, serif;
  letter-spacing: 2px;
  margin-right: 10px;
}
.section4 .event .event2 .event2-right button {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.section4 .event .event3 {
  background: url(../../../assets/img/event-03.jpg);
  grid-area: b;
  padding: 20px;
}
.section4 .event .event3 .date-event {
  background: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section4 .event .event3 .date-event .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(51, 51, 51);
  color: rgb(238, 238, 238);
  width: 80px;
  height: 82px;
  margin-bottom: 20px;
}
.section4 .event .event3 .date-event .date .number-date {
  font-size: 1.9rem;
}
.section4 .event .event3 .date-event .date .month-date {
  font-size: 1.2rem;
  margin-top: -10px;
}
.section4 .event .event3 .date-event h4 {
  font-family: robot-lig, serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px;
}
.section4 .event .event3 .date-event .adresse {
  display: flex;
  align-items: center;
  color: rgb(182, 182, 182);
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.section4 .event .event3 .date-event .adresse i {
  margin: 10px 5px;
  font-size: 0.6rem;
}
.section4 .event .event3 .date-event .adresse p {
  font-family: robot-lig, serif;
  letter-spacing: 2px;
  margin-right: 10px;
}
.section4 .event .event3 .date-event button {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  margin: 40px;
}

.section5 {
  padding: 110px 65px;
  position: relative;
}
.section5::after {
  content: "";
  background: url(../../../assets/img/gmap.jpg) center/cover;
  width: 100%;
  height: 376px;
  position: absolute;
  left: 0;
  top: 60%;
}
.section5 .text-container {
  background: rgb(238, 238, 238);
  max-width: 1050px;
  width: 65%;
  margin: 0 auto;
  padding: 80px 50px;
  position: relative;
  z-index: 1000;
}
.section5 .text-container::before {
  content: "";
  position: absolute;
  background: url(../../../assets/img/avatar-02.jpg) center/cover;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  top: -30px;
  left: 47%;
  transform: translateX(-2px);
}
.section5 .text-container .text-main {
  font-size: 1rem;
  font-family: robot-lig, serif;
  line-height: 30px;
}
.section5 .text-container .text-main p {
  padding: 20px;
}
.section5 .text-container .text-main p::before {
  content: "❝";
  font-size: 1.5rem;
}
.section5 .text-container .text-main p::after {
  content: "❞";
  font-size: 1.5rem;
}
.section5 .text-container h4 {
  font-family: robot-lig, serif;
  font-weight: 500;
  font-size: 1.3rem;
}
.section5 .text-container h5 {
  font-family: robot-lig, serif;
  color: rgb(166, 114, 69);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-top: 20px;
}

footer {
  padding-top: 145px;
  background: url(../../../assets/img/bg-footer.jpg) center/cover;
}
footer .footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  color: rgb(182, 182, 182);
  max-width: 1050px;
  margin: 0 auto;
  text-align: left;
}
footer .footer-container .footer-left {
  padding: 40px 50px;
}
footer .footer-container .footer-left h3 {
  font-family: allura, sans-serif;
  font-weight: 500;
  color: rgb(166, 114, 69);
  font-size: 2.8rem;
  margin-bottom: 15px;
}
footer .footer-container .footer-left p {
  font-family: robot-lig, serif;
  line-height: 30px;
  font-size: 0.9rem;
}
footer .footer-container .footer-right {
  padding: 40px 50px;
}
footer .footer-container .footer-right .mail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-container .footer-right .mail-container h6 {
  text-transform: uppercase;
  font-family: poppins-med, serif;
  color: rgb(238, 238, 238);
  margin-bottom: 10px;
  font-size: 1.1rem;
}
footer .footer-container .footer-right .mail-container input {
  border: 1px solid rgb(51, 51, 51);
  padding: 5px;
  background: none;
  outline: none;
  color: rgb(238, 238, 238);
}
footer .footer-container .footer-right .sociaux-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-family: poppins-med, serif;
  color: rgb(238, 238, 238);
}
footer .footer-container .footer-right .sociaux-container h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
}
footer .footer-container .footer-right .sociaux-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
footer .footer-container .footer-right .sociaux-container ul i {
  font-size: 0.7rem;
  color: rgb(182, 182, 182);
  margin-left: 20px;
}/*# sourceMappingURL=index.css.map */